.meteor {
    position: absolute;
    top: -20rem;
    height: 20rem;
    width: 20rem;
    background-image: url(https://assets.quizlet.com/a/j/dist/i/gravity/asteroids/BlueLargeAsteroid@2x.848b4a45b4afee5.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 4;
    text-align: center;
}

.meteor__question {
    width: 250px;
}