.meteor {
    display: flex;
    height: 300px;
    width: 300px;
    background-image: url(https://assets.quizlet.com/a/j/dist/i/gravity/asteroids/BlueLargeAsteroid@2x.848b4a45b4afee5.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.meteor__question {
    width: 250px;
}